.add__user__form{
    border: 1px solid #EBEBEB;
    width: 500px !important;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}
.add__user__form .users__card__button button{
    width: 50%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns each with equal width */
    gap: 10px;
    margin: 30px 0;
}